@using DoctorsOffice.Models
@model IEnumerable<DoctorsOffice.Models.AppointmentDoctorView>

<style>
    td, tr, th {
        text-align: center;
        padding: 15px;
    }
</style>

<h2>See your past appointments</h2>

@{
    if (SUser.Instance.GetInstance().Id == 0)
    {
        //TODO view data?
        ViewData["error"] = "Please login or register in order to access the page";
        Response.Redirect("~/UserAccess/Login/");
    }
}
<p>
    <table>
        <tr>
            <td>
                <div class="popup">
                    <a style="color: black" class="popuptext" href="~/Patient/PatientHomePage/">
                        <button class="popuptext">Back to home page</button>
                    </a>
                </div>
            </td>
            <td>
                <div class="popup">
                    <a style="color: black" class="popuptext" href="~/Patient/MyAppointments/">
                        <button class="popuptext">My Appointments</button>
                    </a>
                </div>
            </td>
            <td>
                <div class="popup">
                    <a style="color: black" class="popuptext" href="~/Patient/MyPastAppointments/">
                        <button class="popuptext">My past Appointments</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</p>
<table class="table">
    <tr>
        <th>
            Appointment Date
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            With Doctor
        </th>
    </tr>

    @{
        if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.date.Value.Date).ToString().Remove(10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startTime.Value.TimeOfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endTime.Value.TimeOfDay)
                    </td>
                    <td>
                        @{
                            var docsProfession = "";
                            switch (item.Speciality)
                            {
                                case "orthopedikos":
                                    docsProfession = "Ορθοπαιδικός";
                                    break;
                                case "ofthalmiatros":
                                    docsProfession = "Οφθαλμίατρος";
                                    break;
                                case "pathologos":
                                    docsProfession = "Παθολόγος ";
                                    break;

                            }
                            Html.DisplayFor(modelItem => docsProfession);
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <div>
                <td colspan="5" style="text-align: center;">
                    No available records found!
                    @Html.ActionLink("Go Back", "PatientHomePage")
                </td>
            </div>
        }
    }

</table>