@using DoctorsOffice.Models

@{
    ViewBag.Title = "PatientHomePage";
    if (SUser.Instance.GetInstance().Id == 0)
    {
        ViewData["error"] = "Please login or register in order to access the page";
        Response.Redirect("~/UserAccess/Login/");
    }
}

<h2>Welcome Mr/Mrs @SUser.Instance.GetInstance().LastName !</h2>
<h5>What would you like to do ?</h5>

<p>
    <table>
        <tr>
            <td>
                <div class="popup">
                    <span>Get an appointment with our doctors</span>
                    <a style="color: black" class="popuptext" href="~/Patient/GetAppointment/">
                        <button class="popuptext">Enter</button>
                    </a>
                </div>
            </td>
            <td>
                <div class="link">
                    <span>See you scheduled appointments</span>
                    <a style="color: black" class="popuptext" href="~/Patient/MyAppointments/">
                        <button class="popuptext">Enter</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</p>