@using DoctorsOffice.Models

@{
    ViewBag.Title = "HomePage";
    if (SUser.Instance.GetInstance().Id == 0)
    {
        ViewData["error"] = "Please login or register in order to access the page";
        Response.Redirect("~/UserAccess/Login/");
    }
}

<style>
    .PbtnLabels {
        padding-right: 15px;
        padding-bottom: 5px;
        font-size: 120%
    }
</style>

<h2>Welcome Mr/Mrs @SUser.Instance.GetInstance().LastName !</h2>
<h5>What would you like to do ?</h5>

<p style="padding-top: 10px; padding-top: 10px">
    <table style="text-align: center">
        <tr>
            <td class="PbtnLabels">
                <label>Get an appointment with our doctors</label>
            </td>
            <td class="PbtnLabels">
                <label>See you scheduled appointments</label>
            </td>
        </tr>            
        <tr>
            <td>
                <div class="popup">
                    <a style="color: black" class="popuptext" href="~/Patient/GetAppointment/">
                        <button class="popuptext">Enter</button>
                    </a>
                </div>
            </td>
            <td>
                <div class="link">

                    <a style="color: black" class="popuptext" href="~/Patient/MyAppointments/">
                        <button class="popuptext">Enter</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</p>