
@{
    ViewBag.Title = "PatientHomePage";
    if (Session["id"] == null)
    {
        ViewData["error"] = "Please login or register in order to access the page";
        Response.Redirect("~/UserAccess/Login/");
    }
}

<h2>Welcome !</h2>

